<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Core</div>
                <a class="nav-link" routerLink="dashbord">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>


                <div class="sb-sidenav-menu-heading">Product</div>
                <a class="nav-link collapsed" routerLink="product-list" >
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Product-List
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <a class="nav-link collapsed" routerLink="product-create">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Product-Create
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <a class="nav-link collapsed" routerLink="product-edit">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Product-edit
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <a class="nav-link collapsed" routerLink="product-view">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Product-View
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>





                <div class="sb-sidenav-menu-heading">User</div>
                <a class="nav-link collapsed" routerLink="user-list">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    User-List
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <a class="nav-link collapsed" routerLink="user-create" >
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    User-Create
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <a class="nav-link collapsed" routerLink="user-edit">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    User-edit
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <a class="nav-link collapsed" routerLink="user-view" >
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    User-View
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>         


            </div>
        </div>

    </nav>
</div>

